@font-face {
  font-family: "Sports";
  src: url(fonts/SFSportsNight.ttf);
  format: ("truetype");
}

h1 {
  font-family: "Sports";
  font-size: 120px;
  color: white;
  text-align: center;
}

li{
  display: none;
}

ul {
  display: none;
  float: left;
  background-color: #ffff80;
  padding-top: 20px;
  padding-right: 20px;
  width: 200px;
}

.ping, .pong, .pingpong {
  font-style: bolder;
  font-style: underline;
}

#ping, #pong, #pingpong {
  display: none;
}

.ping {
  color: #00e699;
}

.pong {
  color: #ff0000;
}

.pingpong {
  color: #5500ff;
}
