body {
  background-image: url(../img/pingpong.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}

@font-face {
  font-family: "Sports";
  src: url(fonts/SFSportsNight.ttf);
  format: ("truetype");
}

label {
  color: white;
  text-shadow: 2px 2px black;
}

label , input , button {
  font-size: 30px
}

h1 {
  font-family: "Sports";
  font-size: 120px;
  color: white;
  text-align: center;
}

li{
  display: none;
  float: left;
  padding: inherit;
  font-size: 20px;
  color: black;
}

ul {
  display: none;
  float: left;
  background-color: rgba(241, 210, 55, .5);
  padding: 20px;
  width: 100%;
}

.ping, .pong, .pingpong {
  font-style: bolder;
}

#ping, #pong, #pingpong {
  display: none;
  color: white;
}

.ping {
  color: #00e699;
}

.pong {
  color: #ff0000;
}

.pingpong {
  color: #5500ff;
}

#green , #ball {
  width: 33%;
  float: left;
  opacity: .5;
}

 #red {
   float: right;
   width: 33%;
   opacity: .5;
 }
